body{
  height: 100vh;
}

* {
  opacity: 0.99;
}

.drag {
  -webkit-app-region: drag;
}

.nodrag,
input,
select,
textarea,
option {
  -webkit-app-region: no-drag;
}

.contextMenu {
  border-radius: 10px;
  button {
      background-color: #2c3e50;
      text-align: left;
      font-size: 14px;
      padding: 3px 5px;
      color: #fff;
      cursor: pointer;
      &:hover{
        background-color: #34495e;
      }
  }
}

